<div id="users">
  <section id="signin">
    <header>
      <div class="main-header">
        <%= render 'shared/nav' %>
        <div class="brand">
          <a href="/"><%= Portfolio::Application.config.site_title %></a>
        </div>
      </div>
      <div class="container">
        <h2>ログイン</h2>
      </div>
    </header>
    <div class="container">
      <div class="inner">
        <div class="users-form">
          <%= form_for(@user, :url => {:action => 'signin'}) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= f.label :email, 'メールアドレス' %>
              <%= f.text_field :email %>
            </div>

            <div class="field">
              <%= f.label :password, 'パスワード' %>
              <%= f.text_field :password %>
            </div>

            <div class="field">
              <p class="right"><a href="">パスワードを忘れた方</a></p>
              <button class="button sassy-button">ログイン</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

