<div id="users">
  <section id="signup">
    <header>
      <div class="main-header">
        <div class="nav">
          <a href="#main-nav" class="menu open-menu">☰</a>
          <a href="#" class="menu close-menu">☰</a>
        </div>
        <div class="brand">
          <a href="/"><%= Portfolio::Application.config.site_title %></a>
        </div>
      </div>
      <div class="container">
        <h2>新規登録</h2>
      </div>
    </header>
    <div class="container">
      <div class="inner">
        <div class="users-form">
          <%= form_for(@user, :url => {:action => 'signup'}) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :name, 'ユーザー名' %>
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :email, 'メールアドレス' %>
              <%= f.text_field :email %>
            </div>

            <div class="field">
              <%= f.label :password, 'パスワード' %>
              <%= f.text_field :password %>
            </div>

            <div class="field">
              <button class="button sassy-button">新規登録</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>