<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= h @title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/main_nav' %>
  <div class="main-panel">
    <%= yield %>

    <%= render 'shared/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
